<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="9d0031e3-9659-42c0-81fb-6c0fbb333196" Publisher="CN=SmokSmog" Version="2.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="9d0031e3-9659-42c0-81fb-6c0fbb333196" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SmokSmog</DisplayName>
    <PublisherDisplayName>SmokSmog</PublisherDisplayName>
    <Logo>Assets\Store\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
    <Resource Language="pl" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SmokSmog.App">
      <m3:VisualElements DisplayName="SmokSmog" Square150x150Logo="Assets\Tiles\Medium\Square150x150Logo.png" Square44x44Logo="Assets\Icon\Square44x44Logo.png" Description="SmokSmog" ForegroundText="light" BackgroundColor="transparent">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\Badge\BadgeLogo.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\Tiles\Wide\Wide310x150Logo.png" Square71x71Logo="Assets\Tiles\Small\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen\SplashScreenVertical.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="SmokSmog.Core.Tiles.TilesBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>